h1 {
    background-color:#e71010;
    color: white;
    font-size: xx-large;
    font-style: oblique;
    text-align: center;
}
#img1 {
    text-align: center;
}
h2 {
    font-size: xx-large;
    color: solid black;
}
#hm {
    display: flex;
    justify-content: space-between;
    
}
#vv {
    display: flex;
    
    
    
    
}
#values {
    margin-left: 280px;
    
    

}
#txts {
    
    color:white;
    font-family: 'Zilla Slab', serif;
    background-color: #e71010;
    padding: 60px;
    

}
#team {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Zilla Slab', serif;
    

}
#terryimg  img {
padding-top: 10%;
border-radius: 70%;


}
#nickimg img {
    padding-top: 10%;
    border-radius: 70%;
    
    
}
#langaimg img {
    padding-top: 10%;
    border-radius: 70%;
    
    
}
#nickoimg img {
    padding-top: 10%;
    border-radius: 70%;
    
    
}
#me {
    
    color: white;
}
#him {
    
    color: white;
}
#his {
    
    color: white;
}
/* #her {
    background-color: #f0542b;
    color: white;
} */



/* new styling */
/* terry div */
#terry {
    text-align: center;
    justify-content: center;
    padding: 10px;
    min-width: 300px;
    max-height:400px;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
    cursor: pointer;

}
#terry>div{
    
    border-radius: 4px;
    

}
#terryimg{
    background-color:honeydew;
    border:grey ;
    
}
#her{
    margin-top:  -20px;
    padding: 2px 16px;
    background-color:honeydew;
    color:black;
    font-family: 'Zilla Slab', serif;
}
#terry:hover {
    box-shadow: 0 8px 16px 5px rgba(209, 35, 35, 0.2);
}
#footer1 {
    background-color: #e31c25;
    height: 300px;
    margin-top:40px;
    color: white;
    margin: auto;

}
#form {
    display: flex;
    justify-content: center;
    font-family: 'Zilla Slab', serif;
    
}

h4 {
    text-align: center;
    font-family: 'Zilla Slab', serif;
    font-size: 25px;
}
input {
    height: 50px;
    
}

#footerimg {
background-color:#e71010;
opacity: 0.8;
color: #fff;
height: 150px;
display: flex;
justify-content: space-around;



}



h4 {
    font-family: 'Zilla Slab', serif;
}
button{
    display: flex;
    padding: 20px;
    background-color: honeydew;
    color: black;
    border-radius: 10px;
    height: 5px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
    
}
button:active {
    transform: scale(0.90);
}
textarea {
    border-radius: 10px;
}

    

    

* {
    box-sizing: border-box;
    
}
footer {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    background-color: honeydew; 
    font-size: 20px;
    font-family: 'Zilla Slab', serif;
}


footer .social {
    text-align: center;
    display: inline;
    color: rgb(19, 19, 189);
}
.social #contacts {
    color: rgba(5, 0, 0, 0.815);
    font-weight: 1000;
}
.handles {
    text-align: center;
    height: 25em;
    display: inline;
    justify-content: space-between;
}
footer .handles img {
    height: 3em;
    width: 3em;
}
/* .copyright {
    padding-top: 15%;
} */
.copyright {
    text-align: center;
    color: aliceblue;
    background-color: #E71010;
    padding-left: 5%;
}



/*@media only screen  and (min-width: 600px) {}*/

@media screen and (max-width:550px){
#terry {
    display: flex;
    flex-direction: column;
}    
    
}





/* {
    border: 1px dashed lime;
}
/* end */


/* end of styling */