#start2{
    background-color: white;
    width: 350px;
    height: 500px;
    border-radius: 5px;
    margin-top: 0px;
    margin-left: 600px;
    overflow: hidden;
    font-weight: bold;
}
#header h2{
    text-align: center;
    background-color:red;
    padding: 30px;
    margin: 0;
    color: white;
}

.form-control{
    padding: 25px;
    margin-left: 10px;
    }



body{
    background-image: url("./Assets/pork\ live.jpg");

    font-family: 'Zilla Slab', serif;
    
}
input{
    display: block;
     width: 90%;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #d8d1d1;

}



button{
    background-color: red;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
    font-weight: bold;
    font-size: large;
    border: 1px;
    color: white;
    margin-left: 18px;
    
}
small{
    visibility: hidden;
    
    color: tomato;
}
.start{
    display: flex;
    margin-right: 1000px;
    background-color: red;
    width: 300px;
    height: 120px;
}
#mine div{
    width: 50px;
    height: 5px;
    background-color:white;
    margin: 10px 0;
    display: block;
}
#mine{
    margin-top: 28px;
    padding: 5px;
}
.meat{
    display: flex;
    font-weight: bold;
    font-size: x-large;
    color: white;
    
}
footer a{
    text-decoration: none;
    color: #1AA3FF;
    font-size: large;
    
}
footer{
    text-align: center;
    margin-top: 30px;
}
.form-control.success input{
    border: 2px solid #02F77C;
    
}
.form-control.error input{
    border: 2px solid red;
}