#start2{
    background-color: white;
    width: 350px;
    height: 500px;
    border-radius: 5px;
    margin-top: 40px;
    overflow: hidden;
    font-weight: bold;
    margin-left: 600px;
}
#header h2{
    text-align: center;
    background-color:red;
    padding: 30px;
    margin: 0;
    color: white;
}

.form-control{
    padding: 25px;
    margin-left: 10px;
    }


body{
    background-image: url("./Assets/pork\ live.jpg");

    font-family: 'Zilla Slab', serif;
    
}
input{
    display: block;
     width: 90%;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #d8d1d1;

}

.button {
    background-color: red;
    padding: 20px;
    border-radius: 5px;
    width: 70%;
    font-weight: bold;
    font-size: large;
    border: 1px;
    margin-left: 35px;
    cursor: pointer;
}
#start2 .button a {
    margin-left: 40%;
    font-weight: bold;
    color: white;
    text-align: center;
}
button:active{

    transform: scale(0.90);
}

small{
    visibility: hidden;
    
    color: tomato;
}
.start{
    display: flex;
    margin-right: 1000px;
    background-color: red;
    width: 300px;
    height: 120px;
}


.meat{
    display: flex;
    width: 389px;
    font-weight: bold;
    font-size: x-large;
    color: white;
    background-color: red;
    margin-left: 580px;
    
}
footer a{
    text-decoration: none;
    color: #1AA3FF;
    font-size: large;
    
}
footer{
    text-align: center;
    margin-top: 30px;
}
.form-control.success input{
    border: 2px solid #02F77C;
    
}
.form-control.error input{
    border: 2px solid red;
}
.meat img{
    width: 30%;
}

@media only screen and (max-width:1000px) {
    #start2{
        margin-left: 0px;
        width: 250px;
        font-size: 12px;
        height: 300px;
        margin-left: 30px;

    }
    .meat{
        margin-left: 0px;
        width: 250px;
        font-size: 20px;
        margin-left: 30px;
    }
    #second{
        margin-left: 0px;
    }
    input{
        padding: 0px;
    }
    button{
        padding: 0px;
    }
    .form-control{
        padding: 10px;
    }
    #start{
        font-size: 12px;
        padding: 0px;
    }
    .meat img{
        width: 23%;
    }
    


}  


