
body{
    background-image: url("./Assets/pork\ live.jpg") ;
    font-family: 'Zilla Slab', serif;
   
}

.container{
    width: 400px;
    background-color:white;
    border-radius: 4px;
    box-shadow: 0px -1px 4px 4p tomato;
    overflow: hidden;
    margin-left: 600px;
    font-weight: bold;
}

.form-control{
padding: 25px;
margin-left: 10px;
}

 input{
    display: block;
     width: 90%;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #d8d1d1;

}
.form-control.success input{
    border: 2px solid #02F77C;
    
}
.form-control.error input{
    border: 2px solid #F01A00;
}
 small{
    position: absolute;
    margin: 3px;
  visibility: hidden;
  color: red;
}
button{
    background-color: red;
    color: white;
    padding: 20px 20px;
    width: 90%;
    margin-left: 20px;
    border-radius: 4px;
    border: 2px solid red;
    cursor: pointer;
    font-weight: bold;
    font-size: large;

}

.start{
    display: flex;
    margin-right: 1000px;
    background-color: red;
    width: 300px;
    height: 120px;
}

#mine div{
    width: 50px;
    height: 5px;
    background-color:white;
    display: block;
    margin: 10px 0;
}
#mine{
    margin-top: 28px;
    padding: 5px;
}
.meat{
    display: flex;
    font-weight: bold;
    font-size: x-large;
    color: white;
    
}

.header h2{
    text-align: center;
    background-color:red;
    padding: 30px;
    margin: 0;
    color: white;
}
#ready{

    text-align: center;
}
#ready a{
    text-decoration: none;
    color: #1AA3FF;
    font-size: large;
}

/**{
    border: 1px dashed lime;
}
